/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x:hidden;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.sidebar {
    background: #f8f9fa !important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-height: calc(100vh - 60px);
    padding-top: 5px;
}

#apps .nav-item{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 16px;
    padding-left: 10px;
    margin-bottom:5px;
    cursor: pointer;
}
#apps .nav-item span{
    font-size:13px;
    text-transform: capitalize;
}
.cf{
    text-transform: capitalize;
}
#apps .nav-link{
    padding:0px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
#apps h4{
    margin-left:10px;
}
#apps .nav-item.active{
    background: var(--purple);
    color: #FFF;
}
#apps .nav-item.active a{
    color: #FFF;
}
.app-icon{
    width: 32px;
    height: 32px;
    background: #f9a123;
    color: #FFF;
    padding-left: 8px;
    padding-top: 4px;
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 767.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem); /* Account for horizontal padding on navbar */
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
}

.nav-underline .nav-link:hover {
    color: var(--blue);
}

.nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

#content code {
    font-size: 100%;
    display: block;
    margin-top: 8px;
}

blockquote.code{
    margin-top:5px;
    padding-left: 15px;
    border-left: 4px solid orange;
    font-family: 'Courier New', Courier, monospace;
    font-size:12px;
}

blockquote .code_tab{
    padding-left:15px;
}
.code_blue{
    color:blue;
}
.code_black{
    color:black;
}
.code_orange{
    color:orange;
}
.code_gray{
    color: grey;
}
.model{
    border-bottom: 1px solid #eee;
    margin-bottom:5px;
}
#content .selected{
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background: white;
}
#content .locked{
    background: #ff7758;
}
#content tr.selected{
    background: #eeeeee;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}